/*  */
:root {
  --linkHoverColor: palevioletred;
  --headFootBackgroundColor: #396e42;
  --headFootTextColor: rgb(250, 250, 250);
}

/* Universal styling */

/*Header */
#header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 25px;
  width: 100%;
  color: var(--headFootTextColor);
  background-color: var(--headFootBackgroundColor);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#pageTitle {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-content: center;
}

/*Nav bar */
#navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2.5%;
}
#navbar nav {
  width: 100%;

}

#navbar li {
  margin: 0;
  list-style-type: none;
  padding: 0;
  text-align: center;
  padding: 5px 0;
}

/* Nav bar links */
div nav li a{
 text-decoration: none;
 color:  var(--headFootTextColor);
}

div nav li a:hover {
  color: var(--linkHoverColor);
}


/* Main */
  main {
    border: 2px solid rgb(205, 55, 50);
    display: flex;
    flex-direction: column;
  }
  .mainContent {
    margin: 25px 0;
  }

  #aboutMeContent {
    flex: 1 0 25%;
    border: 2.5px solid rgb(23, 172, 85);
  }

  #aboutMeContent #myAvatar {
    width: 30%;
  }

  #aboutMeContent p {
    width: 70%;
  }

  #appSection {
    flex: 1 0 75%;
    border: 3px solid orange;
  }

  /* Heading in the main */
  .mainHeadings {
    align-items: center;
    border: 2.5px solid purple;
    margin: 5px 0;
  }
  .appContainer {
    flex: 1 0 auto;
    align-items: center;
  }

/* Application Images */
  #app1Image {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/FluffyCockatoo.jpg");
    background-size: cover;
    background-position: center;
  }

  #app2Image {
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/LoneMushroom.jpg");
    background-size: cover;
    background-position: center;
  }

  #app3Image {
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/WaterStonesAndLogs.jpg");
    background-size: cover;
    background-position: center;
  }

  #app4Image {
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/WaterfallAndRocks.jpg");
    background-size: cover;
    background-position: center;
  }

  #app5Image {
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/MossyAlcove.jpg");
    background-size: cover;
    background-position: center;
  }


/* Footer */
  #contactSection {
    display: flex;
    color: var(--headFootTextColor);
    background-color: var(--headFootBackgroundColor);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  #contactHeading {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
  }

  #contactHeading h2 {
    font-size: large;
  }

  #contactLinks {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }

  .contactInfo {
    width: 100%;
    text-align: center;
    margin: 0;
    list-style-type: none;
    padding: 5px 0;
  }

  .contactInfo a {
    text-decoration: none;
    color: var(--headFootTextColor);
    font-size: medium;
  }

  .contactInfo a:hover {
    color: var(--linkHoverColor);
  }

/* Mobile first responsiveness */
@media screen and (min-width:) {
 /* #navbar li {
    display: inline;
  } */
}

@media screen and (min-width:) {

}
