:root {
  --linkHoverColor: rgb(117, 204, 228);
  --headFootBackgroundColor: rgb(15, 51, 74);
  --headFootTextColor: rgb(243, 233, 226);
  --appBackgroundColor: rgb(237, 223, 212);
  /* rgb(218, 190, 170); */
}

/*Header */
#header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 25px;
  width: 100%;
  min-width: 280px;
  color: var(--headFootTextColor);
  background-color: var(--headFootBackgroundColor);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#pageTitle {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-content: center;
}

/*Nav bar */
#navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2.5%;
}

#navbar nav {
  width: 100%;
}

#navbar li {
  margin: 0;
  list-style-type: none;
  padding: 0;
  text-align: center;
  padding: 5px 0;
}

/* Nav bar links */
div nav li a {
  text-decoration: none;
  color: var(--headFootTextColor);
  padding: 0 0.5em;
}

div nav li a:hover {
  color: var(--linkHoverColor);
}

/* Main */
main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 280px;
}

.mainHeadings {
  width: 100%;
  color: var(--headFootTextColor);
  background-color: var(--headFootBackgroundColor);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 10px;
}

.mainContent {
  display: flex;
  margin: 0 0 10px 0;
}

.mainContent h4,
.mainContent p,
.mainContent a {
  color: var(--headFootBackgroundColor);
}

/* about me section */
#aboutMeContent {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: center;
}

#myAvatar {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 100px;
  margin-left: 2.5em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.aboutContent {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 2em 2em;
}

#aboutMeContent p {
  /* align-self: center; */
  width: 100%;
  text-align: left;
  font-size: calc(18px + 0.5vw);
}

/* application display */
#appSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--headFootTextColor);
  /* background-color: var(--headFootTextColor); */
}

.appContainer {
  color: white;
  display: flex;
  flex-direction: column;
  background-color: var(--appBackgroundColor);
  margin-left: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 25px;
  /* text-decoration: none; */
}

.appContainer h4 {
  padding: 1em 0;
}

.desc {
  margin: 0 1em;
  padding: 0 0 1em;
}

.site-link,
.site-link:visited {
  color: var(--headFootBackgroundColor);
  text-decoration: none;
}
.repo-link,
.repo-link:visited {
  color: var(--headFootBackgroundColor);
  text-decoration: none;
  padding: 1em 2em;
}

/* the divs holding the background img */
.appContainer div {
  border-top-left-radius: 25px;
  background-size: cover;
  background-position: right;
  margin-left: 15px;
  /* margin-bottom: 25px; */
}

/* Application Images */
#app1Image {
  height: 250px;
  background-image: url("../images/PasswordGenerator.png");
}

#app2Image {
  height: 200px;
  background-image: url("../images/Notebook.png");
  background-size: 128px;
  background-repeat: no-repeat;
}

#app3Image {
  height: 200px;
  background-image: url("../images/LoneMushroom.jpg");
}

#app4Image {
  height: 200px;
  background-image: url("../images/workDayScheduler.png");
}

#app5Image {
  height: 200px;
  background-image: url("../images/QuizTime.png");
}

/* Footer */
#contactSection {
  display: flex;
  color: var(--headFootTextColor);
  background-color: var(--headFootBackgroundColor);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 280px;
}

#contactHeading {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  text-align: center;
}

#contactHeading h2 {
  font-size: large;
  margin-left: 1em;
}

#contactLinks {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.contactInfo {
  width: 100%;
  text-align: center;
  margin: 0;
  list-style-type: none;
  padding: 5px 0.5em;
}

.contactInfo a {
  text-decoration: none;
  color: var(--headFootTextColor);
  font-size: medium;
}

.contactInfo a:hover {
  color: var(--linkHoverColor);
}

/* Mobile first responsiveness */
@media screen and (min-width: 455px) {
  /* Header */
  #pageTitle {
    flex-direction: column;
    font-size: 1.5em;
  }

  #navbar a {
    font-size: 1.25em;
  }

  /* App section */
  .mainHeadings h2 {
    font-size: 1.5em;
    color: var(--headFootTextColor);
  }

  .appContainer h4,
  .appContainer p,
  #aboutMeContent p {
    font-size: 1.25em;
  }

  #aboutMeContent {
    flex-direction: row;
  }

  .aboutContent {
    width: calc(100% - 150px);
  }

  #heroApp {
    max-height: 600px;
    flex-grow: 2;
    margin: 25px 5%;
  }

  #secondaryApps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }

  #secondaryApps .appContainer {
    width: calc(40% - 10px);
    margin: 25px 5%;
  }

  /* footer */
  #contactHeading h2 {
    font-size: 1.5em;
  }

  #contactLinks li {
    font-size: 1.25em;
  }

  #contactLinks a {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 992px) {
  body {
    margin: 0 4em;
  }

  /* Header */
  #pageTitle {
    font-size: 2em;
    align-content: flex-start;
    margin: 1em 0 0 1em;
  }

  #pageTitle h1 {
    text-align: left;
  }

  #navbar {
    text-align: right;
  }

  #navbar li {
    display: inline;
  }

  #navbar a {
    font-size: 1.5em;
  }

  /* Footer */
  #contactSection {
    flex: row wrap;
  }

  #contactHeading h2 {
    font-size: 2em;
    text-align: left;
  }

  #contactLinks {
    text-align: right;
  }

  #contactLinks li {
    display: inline;
  }

  /* Application Images */
  #app1Image {
    height: 300px;
    background-image: url("../images/PasswordGeneratorWide.png");
  }

  #app4Image {
    height: 200px;
    background-image: url("../images/workDaySchedulerWide.png");
  }
}
